.header {
  &__background {
    background-color: $color-primary-light; 
  }

  &__city {
    width: 100%;
  }

  &__city-pic {
    width: 100%; 
    position: relative;
    z-index: 999;
  }

  &__city-wheel {
    position: absolute;
    margin-top: 26.5%;
    right: 20.55%;
    width: 14vw;
    animation: wheel-animation 10s linear infinite;

    @keyframes wheel-animation {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
    }
  }

  &__city-rocket {
    position: relative;
    width: 7.6%;
    left: 26.5%;
    margin-top: 33%;
  }

  &__city-rocket-flame {
    background: linear-gradient(to bottom, #FF891C 0%, rgba(255, 174, 0, 0.35) 100%);
    height: 1em;
    width: 1.2%;
    border-radius: 80% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    left: 29.8%;
    margin-top: -.8%;
    // animation: flame-animation .5s linear infinite;
    animation: flame-animation 1s cubic-bezier(0.82, 0.05, 0.6, 1.02) infinite alternate;

    @keyframes flame-animation {
      0% {height: 1em;}
      100% {height: 3em;}
    }
  }

  &__rocket-animation {
    position: absolute;
    width: 21%;
    margin-top: 30%;
    left: 23%;
    z-index: 1;
    animation: rocket-launch 7s cubic-bezier(0.82, 0.05, 0.6, 1.02) 3s infinite;
    

    @keyframes rocket-launch {
      0% {margin-top: 30%}
      100% {margin-top: -30%}
    }
  }
}