.header {
  background: linear-gradient(to bottom right, $color-primary, $color-primary-dark);
  color: white; 

  @media only screen and (max-width: 665px) {
    text-align: center;
  }

  &__title-container {
    margin-top: 15em; 

    @media only screen and (max-width: 665px) {
      margin-top: 0;
    }
  }

  &__title-name {
    font-size: 8em;
    color: white;

    @media only screen and (max-width: 665px) {
      font-size: 6em;
    }
  }

  &__title-role {
    font-size: 4em; 

    @media only screen and (max-width: 665px) {
      font-size: 3em;
    }
  }
  
  &__break {
    font-size: 6em;
    font-weight: 700;
  }

  &__description-container {
    font-size: 1.8em; 
    max-width: 60%;

    @media only screen and (max-width: 665px) {
      max-width: 100%;
    }

    & p {
      @media only screen and (max-width: 665px) {
        padding: 1em 0; 
      }
    }
  }

  &__contact-link-container {
    margin-top: 2em;
    margin-bottom: 6em; 
  }

  &__contact-link {
    color: white;
    background: $color-secondary;
    border: 2px solid transparent; 
    border-radius: 5px;
    padding: .5em 1em;
    text-transform: uppercase;
    transition: all .2s; 

    &:hover {
      text-decoration: none; 
      background: $color-secondary-dark; 
      color: white; 
      font-weight: 700; 
    }
  }
}





















// !!!!!!!!!!!!!!!!! CITY HEADER !!!!!!!!!!!!!!!!!

// .header {
//   &__background {
//     background-color: $color-primary; 
//   }

//   &__city {
//     width: 100%;
//   }

//   &__city-pic {
//     width: 100%; 
//     position: relative;
//     z-index: 999;
//     top: 5px;
//   }

//   &__city-wheel {
//     position: absolute;
//     margin-top: 26.5%;
//     right: 20.55%;
//     width: 14vw;
//     animation: wheel-animation 10s linear infinite;

//     @keyframes wheel-animation {
//       from {transform: rotate(0deg);}
//       to {transform: rotate(360deg);}
//     }
//   }

//   &__city-rocket {
//     position: relative;
//     width: 7.6%;
//     left: 26.5%;
//     margin-top: 33%;
//   }

//   &__city-rocket-flame {
//     background: linear-gradient(to bottom, $color-secondary 0%, rgba(255, 174, 0, 0.35) 100%);
//     height: 1em;
//     width: 1.6%;
//     border-radius: 80% / 100%;
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
//     position: relative;
//     left: 29.5%;
//     margin-top: -.8%;
//     // animation: flame-animation .5s linear infinite;
//     animation: flame-animation 7s linear infinite;

//     @keyframes flame-animation {
//       0% {height: 1em;}
//       7% {height: 3em;}
//       90% {opacity: 1}
//       100% {opacity: 0}
//     }
//   }

//   &__rocket-animation {
//     position: absolute;
//     width: 21%;
//     margin-top: 30%;
//     left: 23%;
//     z-index: 1;
//     animation: rocket-launch 7s cubic-bezier(0.82, 0.05, 0.6, 1.02) 3s infinite;
    

//     @keyframes rocket-launch {
//       0% {margin-top: 30%; opacity: 1}
//       90% {opacity: 1}
//       100% {margin-top: -30%; opacity: 0}
//     }
//   }
// }